 .u-section-1 {
  background-image: none;
  min-height: 946px;
}

.u-section-1 .u-group-1 {
  min-height: 86px;
  height: auto;
  background-image: none;
  margin-top: 36px;
  margin-bottom: 0;
}

.u-section-1 .u-container-layout-1 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-image-1 {
  width: 405px;
  height: 59px;
  margin: 16px auto 0 20px;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: 11px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 401px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  transition-duration: 0.5s;
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  margin: 0 18px 0 14px;
}

.u-section-1 .u-group-2 {
  width: 927px;
  min-height: 36px;
  height: auto;
  margin: 8px auto -2px -2px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 30px 0 15px;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 0;
}

.u-section-1 .u-text-3 {
  margin: -30px auto 0 136px;
}

.u-section-1 .u-text-4 {
  margin: -30px auto 0 234px;
}

.u-section-1 .u-text-5 {
  margin: -30px auto 0 322px;
}

.u-section-1 .u-text-6 {
  margin: -30px auto 0 405px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 401px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-group-3 {
  min-height: 62px;
  height: auto;
  background-image: none;
  width: 190px;
  margin: 0 10px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px 0;
}

.u-section-1 .u-text-7 {
  font-size: 1rem;
  margin: 0 10px;
}

.u-section-1 .u-group-4 {
  min-height: 330px;
  height: auto;
  width: 190px;
  box-shadow: 2px 7px 12px 0px rgba(0,0,0,0.4);
  background-image: none;
  margin: 8px auto 0;
}

.u-section-1 .u-container-layout-6 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  margin: 0 11px;
}

.u-section-1 .u-image-2 {
  width: 169px;
  height: 73px;
  margin: 8px auto 0;
}

.u-section-1 .u-text-9 {
  font-weight: 700;
  margin: 30px 11px 0;
}

.u-section-1 .u-text-10 {
  font-weight: 700;
  margin: 20px 11px 0;
}

.u-section-1 .u-form-1 {
  height: 239px;
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: calc(((100% - 1140px) / 2));
  width: 927px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 16px auto 60px calc(((100% - 1140px) / 2) + 16px);
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 876px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
    margin-right: calc(((100% - 1140px) / 2));
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 331px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-1 .u-group-2 {
    width: 768px;
    margin-left: 0;
    height: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 331px;
  }

  .u-section-1 .u-group-3 {
    width: 172px;
    margin-left: 0;
    margin-right: 0;
    height: auto;
  }

  .u-section-1 .u-text-7 {
    margin-left: 1px;
    margin-right: 1px;
  }

  .u-section-1 .u-group-4 {
    width: 172px;
    height: auto;
  }

  .u-section-1 .u-container-layout-6 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-image-2 {
    height: 74px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 2px;
    margin-right: 2px;
  }

  .u-section-1 .u-text-10 {
    margin-left: 2px;
    margin-right: 1px;
  }

  .u-section-1 .u-form-1 {
    margin-right: calc(((100% - 1140px) / 2) + 213px);
    margin-left: calc(((100% - 1140px) / 2) + 200px);
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 940px) / 2));
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 645px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-group-2 {
    width: 588px;
  }

  .u-section-1 .u-text-4 {
    margin-top: 20px;
    margin-left: 178px;
  }

  .u-section-1 .u-text-5 {
    margin-top: 20px;
    margin-left: 245px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 308px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-group-3 {
    width: 132px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-group-4 {
    width: 132px;
  }

  .u-section-1 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-image-2 {
    width: 132px;
    height: 58px;
  }

  .u-section-1 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-form-1 {
    margin-left: calc(((100% - 1140px) / 2) + 420px);
    margin-right: calc(((100% - 1140px) / 2) + 420px);
    width: 720px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 720px) / 2));
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 745px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 140px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 193px;
  }

  .u-section-1 .u-text-6 {
    margin-top: 20px;
    margin-left: 243px;
  }

  .u-section-1 .u-form-1 {
    margin-right: calc(((100% - 1140px) / 2) + 540px);
    margin-left: calc(((100% - 1140px) / 2) + 600px);
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-image-1 {
    width: 320px;
    height: 47px;
    margin-left: 0;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 20px;
    margin-left: 84px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 86px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 119px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 150px;
  }

  .u-section-1 .u-form-1 {
    margin-right: calc(((100% - 1140px) / 2) + 340px);
    margin-left: calc(((100% - 1140px) / 2) + 800px);
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: calc(((100% - 340px) / 2));
  }
}

.u-section-1 .u-text-1,
.u-section-1 .u-text-1:before,
.u-section-1 .u-text-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-1 .u-container-layout:hover .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-1 .u-text-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}